# Exclude all image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff

# Exclude specific directories (e.g., MLDataset folder)
TrainingFiles/AugDataset
TrainingFiles/MLDataset
TrainingFiles/Images(PNG)


# Exclude Python cache files and folders
__pycache__/
*.pyc

# Exclude other temporary or log files
*.log
